input,
button,
textarea {
	font-family: $fontFamily;
	font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus {
		outline: none;
	}
}


button {
	cursor: pointer;
	background-color: inherit;
}
