[class^="icon__"],
[class*=" icon__"] {
	&:before {
		@extend %icons;
		display: block;
	}
}

.icon__arrow-left:before {
	content: "\e900";
}
.icon__arrow-right:before {
	content: "\e901";
}
.icon__arrow-top:before {
	content: "\e902";
}
.icon__build:before {
	content: "\e903";
}
.icon__calendar:before {
	content: "\e904";
}
.icon__clock:before {
	content: "\e905";
}
.icon__currency:before {
	content: "\e906";
}
.icon__facebook:before {
	content: "\e907";
}
.icon__instagram:before {
	content: "\e908";
}
.icon__letter:before {
	content: "\e909";
}
.icon__location:before {
	content: "\e90a";
}
.icon__logo:before {
	content: "\e90b";
}
.icon__minus:before {
	content: "\e90c";
}
.icon__play:before {
	content: "\e90d";
}
.icon__plus:before {
	content: "\e90e";
}
.icon__progress:before {
	content: "\e90f";
}
.icon__success:before {
	content: "\e910";
}
.icon__vkontakte:before {
	content: "\e911";
}
