// <Fonts>===============================================================================================
// &display=swap&subset=cyrillic-ext

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff2") format("woff2"), url("../fonts/#{$file_name}.woff") format("woff");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@include font("Lato", "Lato-Bold", "700", "normal");
@include font("Lato", "Lato-SemiBold", "600", "normal");
@include font("Lato", "Lato-Medium", "500", "normal");
@include font("Lato", "Lato-Regular", "400", "normal");
@include font("Lato", "Lato-Light", "300", "normal");

@include font("Montserrat", "Montserrat-Black", "900", "normal");
@include font("Montserrat", "Montserrat-Bold", "700", "normal");
@include font("Montserrat", "Montserrat-SemiBold", "600", "normal");
@include font("Montserrat", "Montserrat-Regular", "400", "normal");

@include font("Icons", "icons", "400", "normal");

// </Fonts>=======================================================================================
