.container {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	
	@media (max-width: $md1) {
		max-width: 970px;
	}
	@media (max-width: $md2) {
		max-width: 750px;
	}
	@media (max-width: $md3) {
		max-width: none;
		padding: 0 20px;
	}
	@media (max-width: $md4) {
		padding: 0 16px;
	}
}
