.roadmap-eighth {
	&.visible {
		background-image: url("../img/roadmap-eighth-bg.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	color: #fff;
	padding: rem(311px) rem(10px) rem(171px);
	z-index: 1;
	&__inner {
		@extend %flex-center;
	}

	&__content {
		flex: 0 1 rem(540px);
	}

	&__title {
		line-height: 1.2;
		margin-bottom: rem(30px);
	}
}

@media (max-width: 2400px) {
	.roadmap-eighth {
		&__content {
			margin-left: rem(90px);
		}

		&__title {
			margin: 0;
		}
	}
}
@media (max-width: 2220px) {
	.roadmap-eighth {
		&__content {
			margin-left: 0px;
		}
	}
}
@media (max-width: 1480px) {
	.roadmap-eighth {
		&__content {
			margin-left: rem(100px);
		}
	}
}
@media (max-width: 1320px) {
	.roadmap-eighth {
		&__content {
			margin-left: rem(180px);
		}
	}
}
@media (max-width: $md1) {
	.roadmap-eighth {
		&__content {
			margin-left: rem(85px);
		}
	}
}
@media (max-width: 1100px) {
	.roadmap-eighth {
		padding: rem(260px) rem(10px) rem(140px);
		&__content {
			margin-left: 0px;
		}
	}
}

@media (max-width: $md2) {
	.roadmap-eighth {
		padding: rem(140px) rem(10px) rem(140px);
	}
}

@media (max-width: $md3) {
	.roadmap-eighth {
		padding: rem(80px) rem(50px);
		&__content {
			flex: 1 1 auto;
		}
		&__title {
			padding-right: rem(70px);
		}
	}
}
@media (max-width: 500px) {
	.roadmap-eighth {
		&__title {
			padding-right: rem(50px);
		}
	}
}
@media (max-width: $md4) {
	.roadmap-eighth {
		padding: rem(50px) 0px;

		&__title {
			padding-right: 0px;
			margin-bottom: rem(15px);
		}
	}
}
